.my_word {
    margin: 10px;
}

.my_label {
    font-size: small;
    position: absolute;
    transform: translateX(-50%);
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    overflow: auto;
}

.mainBody {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.connection-wrap {
    /*display: none*/
}

.marker-arrowhead {
    /*display: none*/
}

.link-tools {
    /*display: none*/
}

.marker-vertices {
    /*display: none*/
}

.element.basic.Rect {
    cursor: auto
}